<section class="about-section">
    <div class="about-container">
      <div class="about-text">
        <h1>ABOUT US</h1>
        <p>
          Welcome to <strong>Geek Coffee</strong>, the ultimate haven for gaming enthusiasts and coffee lovers, located in the heart of Gammarth. <br><br>
          At Geek Coffee, we blend the thrill of gaming with the rich aroma of premium coffee, creating an experience like no other. Whether you’re here to challenge friends in your favorite video games, explore the latest board games, or simply unwind with a perfectly brewed cup of coffee, we’ve got you covered. <br><br>
          Step into Geek Coffee, where every sip fuels your next adventure!
        </p>
        <a [routerLink]="['/reservation']" class="btn-learn-more">Learn More</a>
      </div>
      <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3189.7104403025555!2d10.288258976408612!3d36.92118706086923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2b5601adee7bd%3A0x4496a6552d615595!2sGEEK%20Gammarth!5e0!3m2!1sen!2stn!4v1738677629371!5m2!1sen!2stn" 
            width="600" 
            height="450" 
            style="border-radius: 5%;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        </div>
</div>


</section>