<div class="footer">
    <div class="column left-item">
      <div class="footer-item ">
        <img src="../../assets/icon/address_icon.svg" alt="footer" class="icon" />
        <h4 class="title">Address</h4>
      </div>
      <div class="textF">
        <p>Cap Gammarth,Gammarth 1057 Tunisie</p>
      </div>
    </div>

    <div class="column">
      <div class="footer-item">
        <img src="../../assets/icon/contact_icon.svg" alt="footer" class="icon" />
        <h4 class="title">Contact</h4>
      </div>
      <div class="textF">
        <p>
          Phone : 98 187 086
          <br>
          Mail : geek.coffeegmail.com
        </p>
      </div>
    </div>

    <div class="column">
      <div class="footer-item">
        <img src="../../assets/icon/clock_icon.svg" alt="footer" class="icon" />
        <h4 class="title">Schedules</h4>
      </div>
      <div class="textF">
        <p>
          Monday / Tuesday / Wednesday / Thursday / Friday : 12h - 22h <br>
          Saturday : 09h - 23h<br />
          Sunday : 09h - 20h
        </p>
      </div>
    </div>

    <div class="column right-item">
      <div class="footer-item ">
        <h4 class="title">Social Media</h4>
      </div>
      <div class="textF">
        <br>
        <div class="social-icons">
          <a href="https://www.facebook.com/Geek.tunisie" target="_blank">
            <img
              src="../../assets/icon/icon facebook.webp"
              alt="footer"
              class="social_icon"
            />
          </a>
          <a href="https://www.instagram.com/wargamespirit/" target="_blank">
            <img
              src="../../assets/icon/icon insta.webp"
              alt="footer"
              class="social_icon"
            />
          </a>
          <a href="https://www.tiktok.com/" target="_blank">
            <img
              src="../../assets/icon/icon tiktok.webp"
              alt="footer"
              class="social_icon"
            />
          </a>
        </div>
      </div>
    </div>
  </div>