<div class="reservation-modal" >
  <mat-card class="reservation-card" (click)="$event.stopPropagation()">
    <div class="reservation-container">
      <div class="datepicker-container">
        <mat-calendar [(selected)]="selected"></mat-calendar>
        <div class="time-selection">
          <mat-form-field appearance="fill">
            <mat-label>Heure de début</mat-label>
            <input
              matInput
              placeholder="HH:MM"
              [(ngModel)]="startTime"
              (blur)="formatTime('start')"
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Heure de fin</mat-label>
            <input
              matInput
              placeholder="HH:MM"
              [(ngModel)]="endTime"
              (blur)="formatTime('end')"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="form-container">
        <mat-form-field appearance="fill">
          <mat-label>Nom</mat-label>
          <input matInput [(ngModel)]="name" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Prénom</mat-label>
          <input matInput [(ngModel)]="lastName" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Téléphone</mat-label>
          <input matInput [(ngModel)]="phone" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="email" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Catégorie</mat-label>
          <mat-select [(ngModel)]="selectedCategory">
            <mat-option
              *ngFor="let category of categories"
              [value]="category.id"
            >
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="button-container">
          <button mat-button class="submit-button" >
            Soumettre
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>