<div class="home-container">
    <div class="main-content">
      <div class="main-left">
        <h1>Come and enjoy our gaming tables with your friends</h1>
        <div class="buttons-group">
          <button
            mat-button
            class="left-button"
            (click)="openReservationModal()"
          >
          Reserve a table
          </button>
        </div>
      </div>
      <div class="main-right">
        <carousel class="carousel"></carousel>
      </div>
    </div>
  </div>